/*1. overview*/



.overview-1 {
    display: flex;
    justify-content: center;
}

.ow-col-1 {
    max-width: 50%;
    margin-bottom: 30px;
}

article {
    background: rgba(122, 255, 173, .4);
}

.ow-col-1 h1,
.ow-col-1 p {
    color:white;
}

.ow-col-1 h1 {
    font-size: 20pt;
    padding: 20px 20px 0 20px
}

.ow-col-1 p {
    font-size: 15pt;
    padding: 20px;
    text-align: justify;
}

.main-content {
    height: auto;
}

.map {
    padding: 20px;
}
.illustration {
    display: flex;
    margin: 18px;
    background: url('../overview-img/vaskapu.jpg') no-repeat;
    background-size: 100%;
    background-position: center;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.illustration:hover {
    animation-name: overview-image-anim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.illustration a {
    width: 100%;
    height: 800px;
}

.illustration {
    opacity: 1;
}

@keyframes overview-image-anim {
    0% {

        background-size: 100%;
    }

    100% {

        background-size: 110%;
    }
}

.illustration-2 {
    display: flex;
    margin: 18px;
    background: url('../overview-img/predikalo.jpg') no-repeat;
    background-size: 100%;
    background-position: center;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.illustration-2:hover {
    animation-name: overview-image-anim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.illustration-2 a {
    width: 100%;
    height: 800px;
}

.illustration-2 {
    opacity: 1;
}


.illustration-3 {
    display: flex;
    margin: 18px;
    background: url('../overview-img/kovar-budai-hegyseg.jpg') no-repeat;
    background-size: 100%;
    background-position: center;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.illustration-3:hover {
    animation-name: overview-image-anim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.illustration-3 a {
    width: 100%;
    height: 800px;
}

.illustration-3 {
    opacity: 1;
}

.illustration-4 {
    display: flex;
    margin: 18px;
    background: url('../overview-img/kis-milic.jpg') no-repeat;
    background-size: 100%;
    background-position: center;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.illustration-4:hover {
    animation-name: overview-image-anim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.illustration-4 a {
    width: 100%;
    height: 800px;
}

.illustration-4 {
    opacity: 1;
}

.illustration-5 {
    display: flex;
    margin: 18px;
    background: url('../overview-img/pilisteto.jpg') no-repeat;
    background-size: 100%;
    background-position: center;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.illustration-5:hover {
    animation-name: overview-image-anim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.illustration-5 a {
    width: 100%;
    height: 800px;
}

.illustration-5 {
    opacity: 1;
}

span {
    float: right;
    color: white;
}

span a {
    color: lightblue;
}



